
.komodotools
.classpath
.settings
.DS_Store
.project
.project
.tmproj
.cache
.idea
.CVS
.svn
.hg

*.sass-cache
*.esproj
*.class
*.orig
*.diff
*.err
*.log
*.rej
*.iml
*.swo
*.swp
*.dex
*.apk
*.ap_
*.vi
*~

_notes

/.settings
/target/
/bin/
/gen/

target/
bin/
gen/

local.properties
nb-configuration.xml
dwsync.xml
Thumbs.db

intermediate
nbproject
publish

