.DS_Store
.komodotools
.classpath
.settings
.project
.tmproj
.cache
.idea
.CVS
.svn
.hg

*.sass-cache
*.esproj
*.class
*.seed
*.orig
*.diff
*.dex
*.dat
*.out
*.pid
*.swp
*.swo
*.log
*.err
*.rej
*.iml
*.ipr
*.iws
*.csv
*.apk
*.ap_
*.gz
*.vi
*~

Thumbs.db
npm-debug.log
local.properties
nb-configuration.xml
dwsync.xml
lint.xml

_notes
.idea
.settings
node_modules
intermediate
nbproject
proguard
publish
results
lib-cov
target
pids
logs
bin
gen
