.DS_Store
.komodotools
.classpath
.settings
.project
.tmproj
.cache
.idea
.CVS
.svn
.hg

*.sass-cache
*.esproj
*.class
*.orig
*.diff
*.dex
*.swp
*.swo
*.log
*.err
*.rej
*.iml
*.apk
*.ap_
*.vi
*~

local.properties
nb-configuration.xml
dwsync.xml
Thumbs.db

_notes
.settings
intermediate
nbproject
publish
target
gen
bin